@{
    ViewBag.Title = "Bai10";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="bai10_contact">
        <h1>Thông tin liên hệ</h1>
        <p>Vui lòng liên hệ đến:</p>
        <h1>Trần Thanh Hậu</h1>
        <p>MSSV: 2001211917</p>
        <p>Địa chỉ: 140 Lê Trọng Tấn, phường Tây Thạch, Quận Tân Phú</p>
        <p>Email: tranhau2607@gmail.com</p>
    </div>
</body>

</html>

