@{
    ViewBag.Title = "Bai7";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <section>
        <div class="tieude">
            <h1>portfloio</h1>
            <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <div class="noidung">
            <div class="h1">
                <div class="nn">
                    <a href="/Bai_78910/Bai8"><img src="/Content/images/i1.png" alt="Alternate Text" /></a>
                    <h3>Threads </h3>
                    <p>Illustration</p>
                </div>

                <div class="nn">
                    <a href="/Bai_78910/Bai8"><img src="/Content/images/i2.png" alt="Alternate Text" /></a>
                    <h3>Explore</h3>
                    <p>Graphic Deign</p>
                </div>
                <div class="nn">
                    <a href="/Bai_78910/Bai8"><img src="/Content/images/i3.png" alt="Alternate Text" /></a>
                    <h3>Finish</h3>
                    <p>Identty</p>
                </div>
            </div>
            <div class="h2">
                <div class="nn">
                    <a href="/Bai_78910/Bai8"><img src="/Content/images/i4.png" alt="Alternate Text" /></a>
                    <h3>Lines</h3>
                    <p>Branding</p>
                </div>
                <div class="nn">
                    <a href="/Bai_78910/Bai8"><img src="/Content/images/i5.png" alt="Alternate Text" /></a>
                    <h3>Southwest</h3>
                    <p>Website Design</p>
                </div>
                <div class="nn">
                    <a href="/Bai_78910/Bai8"><img src="/Content/images/i6.png" alt="Alternate Text" /></a>
                    <h3>Window</h3>
                    <p>Photography</p>
                </div>
            </div>
        </div>

    </section>
</body>

</html>

