@{
    ViewBag.Title = "Bai8";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="about">
        <div class="anh">
            <img src="/Content/images/i1.png" alt="Alternate Text" />
        </div>
        <div class="gioithieu">
            <h1>Threads</h1>
            <p>Web programming helps us learn the necessary information, build our own website, skills to work, improve ourselves, try to complete the exercises, practice every day.</p>
        </div>
    </div>

</body>

</html>

