@{
    ViewBag.Title = "Bai9";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <section>
        <div class="tieude">
            <h1>Team</h1>
        </div>
        <div class="noidung">
            <div class="h1">
                <div class="nn">
                    <img src="/Content/images/bai9_h1.jpg" alt="Alternate Text" />
                    <h3>Trần Thanh Hậu </h3>
                    <p>2001211917</p>
                </div>

                <div class="nn">
                    <img src="/Content/images/bai9_h2.jpg" alt="Alternate Text" />
                    <h3>Nguyễn Tấn Đạt</h3>
                    <p>2001210166</p>
                </div>
                <div class="nn">
                    <img src="/Content/images/bai9_h3.jpg" alt="Alternate Text" />
                    <h3>Trần Khánh Nam</h3>
                    <p>2001210288</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

