@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout_Bai11.cshtml";
}
@model _16_TranThanhHau_Buoi2_BTVN.Models.User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liên Hệ</title>
    <link href="@Url.Content("~/Content/style_Bai11.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Thông tin liên hệ</h1>
    <div class="lienhe">
        <p>Quý khách có nhu cầu vui lòng liên hệ:</p>
        <h2>Cửa hàng Bá Minh</h2>
        <p>Địa chỉ: 140 Lê Trọng Tấn, phường Tây Thạch, Quận Tân Phú</p>
        <p>Điện thoại: 0935992567</p>
    </div>
</body>
</html>
