@{
    ViewBag.Title = "SanPham_Bai11";
    Layout = "~/Views/Shared/_Layout_Bai11.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--butrap-->
    <!-- ICON-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="@Url.Content("~/Content/style_Bai11.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <section class="product-small" id="product-small">
        <div class="product-container-small">
            <div class="box">
                <a href=""><img src="/Content/images/bai11_h1.jpg" alt=""></a>
                <h3>Sản phẩm 1</h3>
                <div class="">
                    <p>Lựa chọn hàng đầu, thiết kế đẹp, chất lượng tốt, lượng người mua nhiều, an toàn, phù hợp với nhu cầu người tiêu dùng</p>
                </div>
                <div class="content">
                    <a href="">Chọn Mua</a>
                </div>
            </div>
            <div class="box">
                <a href=""><img src="/Content/images/bai11_h2.jpg" alt=""></a>

                <h3>Sản phẩm 2</h3>
                <div class="">
                    <p>Lựa chọn hàng đầu, thiết kế đẹp, chất lượng tốt, lượng người mua nhiều, an toàn, phù hợp với nhu cầu người tiêu dùng</p>
                </div>
                <div class="content">
                    <a href="">Chọn Mua</a>
                </div>
            </div>
            <div class="box">
                <a href=""><img src="/Content/images/bai11_h3.jpg" alt=""></a>

                <h3>Sản phẩm 3</h3>
                <div class="">
                    <p>Lựa chọn hàng đầu, thiết kế đẹp, chất lượng tốt, lượng người mua nhiều, an toàn, phù hợp với nhu cầu người tiêu dùng</p>
                </div>
                <div class="content">
                    <a href="">Chọn Mua</a>
                </div>
            </div>
            <div class="box">
                <a href=""><img src="/Content/images/bai11_h4.jpg" alt=""></a>

                <h3>Sản phẩm 4</h3>
                <div class="">
                    <p>Lựa chọn hàng đầu, thiết kế đẹp, chất lượng tốt, lượng người mua nhiều, an toàn, phù hợp với nhu cầu người tiêu dùng</p>
                </div>
                <div class="content">
                    <a href="">Chọn Mua</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>


